@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-t-gray;
  font-family: 'Montserrat', sans-serif;
}

@layer utilities {
    @keyframes flash-border {
        0%, 100% { border-color: theme('colors.red.600'); }
        50%      { border-color: transparent; }
    }
    .flash-border {
        animation: flash-border 0.5s ease-in-out 2; /* длительность 0.5с, 2 цикла */
    }
}
